* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Georgia', Times, serif;
    color: #333333;
}

.t-header {
    padding: 35px 0;
    display: grid;
    place-items: center;
}

h1 {
    font-family: 'Righteous', sans-serif;
    color: #faa07c;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
}

nav {
    background-color: #FFA07A;
    text-align: center;
    padding: 15px 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    color: #000;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}


.footer {
    background-color: #dcdcdc;
    color: #000;
    padding: 30px 0px;
    text-align: center;
    font-family: 'Georgia', Times, serif;
}

.footer .row {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    font-size: 0.8em;
}

.footer .row a {
    text-decoration: none;
    transition: 0.5s;
}

.footer .row a:hover {
    color: #fff;
}

.footer .row ul {
    width: 100%;
}

.footer .row ul li {
    display: inline-block;
    margin: 0px 30px;
}

.footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
}

/* laboratorio07 */
.sales {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    color: #000;

}

.table {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 430px;
}


th,
td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
    text-align: center;
}
/* laboratorio 08 */
.store {
    padding: 15px;
    margin-bottom: 10px;

}
.store h2 {
    margin-top: 0;
    font-size: 25px;
    font-weight: bold;
}


/* laboratorio10 */
form {

    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;

}

fieldset {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    padding-bottom: 10px;
}

label {
    display: block;
    font-size: 1em;
    margin: 10px 0 5px;
    color: #555;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: white;
    font-size: 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #484848;
}
